<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
    <body><br><br>
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-info">
                    <div class="panel panel-heading">Liste des contacts</div>
                    <div class="panel panel-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>Id</th><th>Full Name</th><th>Email</th><th>Subject</th><th>Content</th>
                            </tr>
                            <tr th:each="c:${contacs}">
                                <td th:text="${c.id}"></td>
                                <td th:text="${c.fullname}"></td>
                                <td th:text="${c.email}"></td>
                                <td th:text="${c.subject}"></td>
                                <td th:text="${c.content}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>